@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
}

@layer utilities {
    .underline-button {
        background-color: rgb(38 38 38);
        color: white;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.1s ease-in-out;
    }

    .underline-button:hover {
        border-bottom-color: white;
    }

    .link {
        color: rgb(85, 187, 241);
        text-decoration: none;
    }

    .link:hover {
        color: white;
        border-bottom: 1px dotted;
    }
}