@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Lato, sans-serif;
}

@layer utilities {
    .ransom-letter {
        @apply inline-block;
        padding: 0 .125rem;
    }
    
    .rl-bw {
        @apply ransom-letter bg-[#EEE] text-black;
    }
    
    .rl-backdrop {
        @apply ransom-letter bg-backdrop-fg text-backdrop-bg;
    }
    
    .rl-content {
        @apply ransom-letter bg-content-fg text-content-bg;
    }
    
    .rl-highlight {
        @apply ransom-letter bg-content-highlight text-content-bg;
    }
    
    .pin-number {
        @apply bg-backdrop-fg text-backdrop-bg border-backdrop-bg text-3xl border-2;
    }
    
    .p-quote {
        @apply text-4xl font-extrabold text-center relative leading-tight;
    }
    
    .p-bullet-red::before {
        content: "\2022";
        position: absolute;
        font-weight: 700;
        left: 1rem;
        @apply text-backdrop-bg;
    }
    
    .faq-bullet-red::before {
        content: "";
        height: 1rem;
        width: 1rem;
        display: inline-block;
        border: 2px solid #000;
        border-radius: 100%;
        position: relative;
        left: -1rem;
    }
    
    .faq-bullet-red.selected::before {
        background-color: #000;
    }
    
    .small-caps {
        font-variant: small-caps;
    }
    
    .critique-bullet {
        @apply w-2 h-2 m-1 rounded-full bg-backdrop-fg opacity-40 group-hover:opacity-100;
    }
    
    .critique-bullet-wrap {
        @apply p-1;
    }

    .critique-bullet.big {
        @apply w-4 h-4;
    }
    
    .critique-bullet.selected {
        @apply opacity-100;
    }
}