@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Lato, sans-serif;
}

@layer utilities {
    .ransom-letter {
        @apply inline-block;
        padding: 0 .125rem;
    }
    
    .rl-bw {
        @apply ransom-letter bg-white text-black;
    }
    
    .rl-rb {
        @apply ransom-letter bg-black text-persona-red;
    }

    .rl-br {
        @apply ransom-letter text-black bg-persona-red;
    }
    
    .p-quote {
        @apply text-4xl font-extrabold text-center relative leading-tight;
    }
    
    .p-bullet-red::before {
        content: "\2022";
        position: absolute;
        font-weight: 700;
        left: 1rem;
        @apply text-persona-red;
    }
    
    .faq-bullet-red::before {
        content: "";
        height: 1rem;
        width: 1rem;
        display: inline-block;
        border: 2px solid #000;
        border-radius: 100%;
        position: relative;
        left: -1rem;
    }
    
    .faq-bullet-red.selected::before {
        background-color: #000;
    }
    
    .small-caps {
        font-variant: small-caps;
    }
    
    .critique-bullet {
        @apply w-2 h-2 m-1 rounded-full bg-black opacity-40 group-hover:opacity-100;
    }
    
    .critique-bullet-wrap {
        @apply p-1;
    }

    .critique-bullet.big {
        @apply w-3 h-3;
    }
    
    .critique-bullet.selected {
        @apply opacity-100;
    }
}